.App {
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}
table tbody{
  text-decoration: solid;
}
.b{
  background-color: red;
}
.e{
  background-color: rgb(158, 214, 28);
}
.c{
  text-align: center;
  margin: auto;
  background-color: rgb(116, 152, 224);
  color: rgb(13, 15, 17);
}